<footer class="footer">
  <!-- E-NEWSLETTER -->

  <div class="px-12">
    <div
      class="container footer-eNewsLetter-img-height bg-cover py-32 py-sm-64 px-4 px-sm-40 z-1 translateY-50"
      style="background-image: url(/assets/images/homepage/eNewsLetter.jfif)"
    >
      <h4 class="text-white mb-3">加入我們的電子報</h4>
      <div class="d-flex gap-2 mb-32">
        <p class="h1 m-0 text-white fw-bold">立即拿優惠金</p>
        <div class="bg-light d-flex align-items-end rounded">
          <h5 class="text-secondary fw-bold m-0 me-2">NT</h5>
          <h2 class="text-secondary fw-bold m-0">$ 500</h2>
        </div>
      </div>
      <form class="d-flex gap-2">
        <div class="text-center">
          <input
            type="email"
            class="form-control rounded-0 ps-3 pe-240 fs-6 h-100"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="請輸入信箱"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary text-secondary rounded-0 fw-bold py-12 px-4"
        >
          訂閱
        </button>
      </form>
    </div>
  </div>
  <!-- FOOTER LOGO -->
  <% 
      //const _url='http://127.0.0.1:3000'; //local
      const _url='https://emptytw.github.io/'; //github
      let baseUrl=`${_url}/Flight-Search` ;
      if(baseUrl.indexOf('emptytw')<0){
        baseUrl+='/pages';
      }
      %>
  <div class="bg-secondary container-fluid text-center footer-logo-padding">
    <a class="footer__logo" href="<%= baseUrl %>/index.html">
      <img
        class="footer__img pb-4"
        src="/assets/images/homepage/logo_footer.svg"
        alt="logo-footer"
    /></a>
    <p class="h5 pt-4 text-light">讓夢想起飛</p>
  </div>
  <!--FOOTER ICONS AND CTA  -->
  <nav class="navbar navbar-expand-lg py-5 py-sm-3 bg-dark">
    <div class="container justify-content-lg-between">
      <ul
        class="navbar-nav me-auto ms-auto mb-2 mb-lg-0 d-flex flex-row justify-content-between align-items-center gap-lg-4"
      >
        <li class="nav-item">
          <a
            class="nav-link link-white h5 py-1 px-2 footer_nav_link_icon"
            href="#"
            ><img
              src="/assets/images/homepage/facebook.png"
              style="height: 48px"
              alt="facebook"
          /></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-white h5 py-1 px-2 footer_nav_link_icon"
            href="#"
            ><img
              src="/assets/images/homepage/instgram.png"
              style="height: 48px"
              alt="instgram"
          /></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-white h5 py-1 px-2 footer_nav_link_icon"
            href="#"
            ><img
              src="/assets/images/homepage/LinkedIn.png"
              style="height: 48px"
              alt="linkedin"
          /></a>
        </li>
      </ul>

      <!--每個分頁  待大家完成後 要再加上正確的href-->
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0 d-md-flex d-none flex-row justify-content-between align-items-center gap-xl-5 gap-lg-3"
      >
        <li class="nav-item">
          <a
            class="nav-link nav-link-footer link-light h5 py-1 px-2"
            href="<%= baseUrl %>/FlightSearch/searchForm.html"
            >航班檢索</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-link-footer link-light h5 py-1 px-2"
            href="<%= baseUrl %>/DelayFlight/delayFlight.html"
            >延遲航班</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-link-footer link-light h5 py-1 px-2"
            href="<%= baseUrl %>/RealTimeFlight/realTimeFlight.html"
            >班機座標</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-footer link-light h5 py-1 px-2" href="<%= baseUrl %>/NearAirport/airportSearch.html"
            >鄰近機場</a
          >
        </li>
      </ul>

      <!-- 登入註冊 -->

      <ul
        class="navbar-nav mb-lg-2 d-md-flex d-none flex-row justify-content-between align-items-center gap-lg-5"
      >
        <li class="nav-item ms-lg-5">
          <a class="nav-link link-light nav-link-footer h5 py-3 px-2" href="<%= baseUrl %>/Register/login.html"
            >登入</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link link-light nav-link-footer h5 py-3 px-2" href="<%= baseUrl %>/Register/register.html"
            >註冊</a
          >
        </li>
      </ul>
    </div>
  </nav>
</footer>
